<%- include("header") -%>

<body>
  <h2>This is the About Page</h2>
  <p>
    This site is to make a todo list for your daily usage and imporve your
    efficiency of doing work
  </p>
</body>

<%- include("footer") -%>
